<?xml version="1.0" encoding="utf-8"?>
<launch>

	    

  <include file="$(find beta_navigator)/launch/jinx_amcl.launch" />
  <include file="$(find beta_navigator)/launch/jinx_vending.launch" />

<!--
  <node
	  pkg="rviz"
	  type="rviz"
	  name="rviz"
	  args="-d $(find beta_navigator)/launch/main.rviz"
	  />
	  -->

	<!-- <include file="$(find coke_garbber)/launch/moveit_grabber.launch"/> -->
	<include file="$(find coke_grabber)/launch/coke_grabber.launch"/>
	<!-- <include file="$(find coke_grabber)/launch/base_kinect.launch"/> -->

</launch>
